<div class="max-w-3xl mx-auto">

    <form
        [formGroup]="form"
        (ngSubmit)="submit()"
        class="card bg-base-100 border border-base-300 shadow-sm">

        <div class="card-body">

            <h2 class="card-title text-2xl">
                Employee Information
            </h2>

            <p class="text-base-content/60">
                Enter the employee details below.
            </p>

            <!-- Profile Photo -->

            <div class="divider"></div>

            <h3 class="text-lg font-semibold">
                Profile Photo
            </h3>

            <div class="flex justify-center mt-4">
                <app-image-upload
                    formControlName="profileImage">
                </app-image-upload>

            </div>

            <!-- Personal Information -->

            <div class="divider"></div>

            <h3 class="text-lg font-semibold">
                Personal Information
            </h3>

            <!-- First Name -->

            <fieldset class="fieldset">
                <legend class="fieldset-legend">
                    First Name
                </legend>

                <input
                    type="text"
                    class="input input-bordered w-full"
                    placeholder="John"
                    formControlName="firstName">

                @if(form.controls.firstName.touched &&
                form.controls.firstName.invalid){
                    <label class="label">
                        <span class="label-text-alt text-error">
                            First name is required.
                        </span>
                    </label>
                }
            </fieldset>

            <!-- Last Name -->

            <fieldset class="fieldset">
                <legend class="fieldset-legend">
                    Last Name
                </legend>

                <input
                    type="text"
                    class="input input-bordered w-full"
                    placeholder="Doe"
                    formControlName="lastName">

                @if(form.controls.lastName.touched &&
                form.controls.lastName.invalid){
                    <label class="label">
                        <span class="label-text-alt text-error">
                            Last name is required.
                        </span>
                    </label>
                }
            </fieldset>

            <!-- Email -->

            <fieldset class="fieldset">
                <legend class="fieldset-legend">
                    Email
                </legend>

                <input
                    type="email"
                    class="input input-bordered w-full"
                    placeholder="john@example.com"
                    formControlName="email">

                @if(form.controls.email.touched){
                    @if(form.controls.email.hasError('required')){
                        <label class="label">
                            <span class="label-text-alt text-error">
                                Email is required.
                            </span>
                        </label>
                    }

                    @if(form.controls.email.hasError('email')){
                        <label class="label">
                            <span class="label-text-alt text-error">
                                Enter a valid email.
                            </span>
                        </label>
                    }
                }

            </fieldset>

            <!-- Phone -->

            <fieldset class="fieldset">
                <legend class="fieldset-legend">
                    Phone
                </legend>

                <input
                    type="text"
                    class="input input-bordered w-full"
                    placeholder="+91 9999888877"
                    formControlName="phone">

                @if(form.controls.phone.touched){
                    @if(form.controls.phone.hasError('required')){
                        <label class="label">
                            <span class="label-text-alt text-error">
                                Phone number is required.
                            </span>
                        </label>
                    }

                    @if(form.controls.phone.hasError('pattern')){
                        <label class="label">
                            <span class="label-text-alt text-error">
                                Enter a valid phone number.
                            </span>
                        </label>
                    }
                }
            </fieldset>

            <!-- Employment Information -->

            <div class="divider"></div>

            <h3 class="text-lg font-semibold">
                Employment Information
            </h3>

            <!-- Joining Date -->

            <fieldset class="fieldset">
                <legend class="fieldset-legend">
                    Joining Date
                </legend>

                <input
                    type="date"
                    class="input input-bordered w-full"
                    formControlName="joiningDate">

                @if(form.controls.joiningDate.touched &&
                form.controls.joiningDate.invalid){
                    <label class="label">
                        <span class="label-text-alt text-error">
                            Joining date is required.
                        </span>
                    </label>
                }

            </fieldset>

            <!-- Department -->

            <fieldset class="fieldset">
                <legend class="fieldset-legend">
                    Department
                </legend>

                <select
                    class="select select-bordered w-full"
                    formControlName="departmentId">

                    <option [ngValue]="0">
                        Select Department
                    </option>

                    @for(department of lookupData().departments; track department.id){
                        <option [value]="department.id">
                            {{ department.name }}
                        </option>
                    }
                </select>

                @if(form.controls.departmentId.touched &&
                form.controls.departmentId.invalid){
                    <label class="label">
                        <span class="label-text-alt text-error">
                            Department is required.
                        </span>
                    </label>
                }
            </fieldset>

            <!-- Designation -->

            <fieldset class="fieldset">
                <legend class="fieldset-legend">
                    Designation
                </legend>

                <select
                    class="select select-bordered w-full"
                    formControlName="designationId">

                    <option [ngValue]="0">
                        Select Designation
                    </option>

                    @for(designation of lookupData().designations; track designation.id){
                        <option [value]="designation.id">
                            {{ designation.name }}
                        </option>
                    }
                </select>

                @if(form.controls.designationId.touched &&
                form.controls.designationId.invalid){
                    <label class="label">
                        <span class="label-text-alt text-error">
                            Designation is required.
                        </span>
                    </label>
                }
            </fieldset>

            <!-- Manager -->

            <fieldset class="fieldset">
                <legend class="fieldset-legend">
                    Manager
                </legend>

                <select
                    class="select select-bordered w-full"
                    formControlName="managerId">
                    <option [ngValue]="null">
                        No Manager
                    </option>

                    @for(manager of lookupData().managers; track manager.id){
                        <option [ngValue]="manager.id">
                            {{ manager.fullName }}
                        </option>
                    }
                </select>
            </fieldset>

            <div class="divider my-8"></div>

            <div class="flex justify-end gap-3">
                <button
                    type="button"
                    class="btn btn-outline">
                    Cancel
                </button>

                <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="form.invalid || loading()">

                    @if(loading()){
                        <span class="loading loading-spinner loading-sm"></span>
                    }
                    @else{
                        <mat-icon>
                            {{ isEditMode() ? 'save' : 'person_add' }}
                        </mat-icon>
                    }
                    {{ isEditMode() ? 'Update Employee' : 'Create Employee' }}
                </button>
            </div>
        </div>
    </form>
</div>