<div class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between">
    <div>
        <h1 class="text-3xl font-bold">
            {{ title() }}
        </h1>
        @if (subtitle()) {
            <p class="text-base-content/60 mt-1">
                {{ subtitle() }}
            </p>
        }
    </div>
    <div class="flex gap-2">
    @if (buttonText() && buttonRoute()) {
            <a
                [routerLink]="buttonRoute()"
                class="btn"
                [class]="buttonClass()">
                <mat-icon>
                    {{ buttonIcon() }}
                </mat-icon>
                {{ buttonText() }}
            </a>
        }
        @if(secondButtonText()){

            <button
                type="button"
                class="btn"
                [class]="secondButtonClass()"
                (click)="secondButtonClick.emit()">

                <mat-icon>
                    {{ secondButtonIcon() }}
                </mat-icon>

                {{ secondButtonText() }}

            </button>

        }
        </div>
    
</div>