<div class="dropdown dropdown-end">
    <button
        tabindex="0"
        class="btn btn-ghost btn-sm btn-circle">
        <mat-icon>
            more_vert
        </mat-icon>
    </button>
    <ul
        tabindex="0"
        class="dropdown-content z-[50] menu p-2 shadow-lg bg-base-100 rounded-box w-56 border border-base-300">
        @for(action of actions(); track action.id){
            <li>
                <button
                    [disabled]="action.disabled"
                    (click)="actionSelected.emit(action.id)"
                    [class.text-error]="action.color">
                    <mat-icon>
                        {{ action.icon }}
                    </mat-icon>
                    {{ action.label }}
                </button>
            </li>
        }
    </ul>
</div>